// 반응형 브레이크 포인트
$breakpount-pc : 1440px;
$breakpount-tablet: 960px;
$breakpount-mobile: 720px;

// 반응형 그리드 
$grid-pc-max: 6;
$grid-tablet-max: 3;
$grid-mobile-max: 2;

// 컬러 스키마
$black: black;
// ....